@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// @import url(href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

$font_family: "Open Sans", sans-serif;
$font-family-header: "Pathway Gothic One", "Open Sans", sans-serif;
$font-family-header-2: "Open Sans Condensed", "Open Sans", sans-serif;
$color-black: #000000;
$color-white: #ffffff;
$color-bg-body: #f9fafc;
$color-jumbo-header-gray: #7c828d;
$color-cta-button-bg: #7e53fd;
$color-cta-button-bg-hover: #5c39c7;
$color-projects-bg: #36374d;
$color-bg-custom-window: #e5e5e5;
$color-footer-bg: #38394f;
$opacity-circle-responsive: 0.3;